{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Gry wideo</h1>
    <img src="{{ asset('img/link_8bit.webp') }}" alt="Image of Link" width="100" />
    <p>Gry wideo to nie tylko rozrywka, ale również sposób na rozwijanie umiejętności, takich jak szybkie myślenie, podejmowanie decyzji pod presją czasu i koordynacja ruchowa. Gry wideo są również doskonałym sposobem na nawiązywanie przyjaźni i budowanie społeczności. Wspólna gra z innymi graczami może być niezapomnianym doświadczeniem, które łączy ludzi z całego świata.</p>

    <p>Na mojej stronie internetowej o grach wideo znajdziesz najnowsze informacje o grach, recenzje, poradniki dla graczy i wiele więcej! Możesz również znaleźć listy najlepszych gier wszech czasów na stronach takich jak <a href="https://www.ign.com/articles/the-best-100-video-games-of-all-time">IGN</a> i <a href="https://www.gamesradar.com/best-games-of-all-time/">GamesRadar+</a>.</p>

    <p>Nie zapomnij odwiedzić strony <a href="https://pl.wikipedia.org/wiki/Gra_wideo">Wikipedia</a>, aby dowiedzieć się więcej o historii gier wideo, różnych gatunkach i platformach sprzętowych.</p>

{% endblock %}
