{% extends 'base.html.twig' %}

{% block title %}
    Games
{% endblock %}

{% block body %}
    <h2>List of games</h2>
    <ul>
        {% for game in games %}
            <li>
                <a href="{{ path('app_game_show', {id: game.id}) }}">{{ game.name }}</a> - <a href="{{ path('app_game_edit', {id: game.id}) }}">edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

